@using Khoaluan.ModelViews
@model List<ItemModelView>
@if (Model != null)
{
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Id
                </td>
                <td>@item.Name</td>
                <td>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid rounded" src="~/Images/@Url.Content(item.Image)" style="max-width: 60px" alt="">
                        <h6 class="m-b-0 m-l-10">@item.Name</h6>
                    </div>
                </td>
                <td>@item.ProductId</td>
                <td>@item.MinPrice.ToString("#,##0") VNĐ</td>
                <td>@item.MaxPrice.ToString("#,##0") VNĐ</td>
                <td>
                <td>
                    @if (User.IsInRole("Dev"))
                    {
                        <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                    }
                    else
                    {
                        <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
                        <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.Id">Sửa</a>
                        <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                    }

                </td>
            </tr>
        }
    }
}