@using PagedList.Core.Mvc
@model Khoaluan.OtpModels.AdminProduct
@{
    ViewData["Title"] = "ListItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
    Khoaluan.ModelViews.SellitemModelView itemsell = new Khoaluan.ModelViews.SellitemModelView();
}

<div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a asp-controller="Home" asp-action="Index">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="#">Market</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Market</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-8">

                <!-- START: Posts Grid -->
                <div class="nk-blog-grid">
                    <div class="row">
                        @if (Model.itembySell != null && Model.itembySell.Count() > 0)
                        {
                            foreach (var item in Model.itembySell)
                            {
                                <div class="col-md-6">
                                    <!-- START: Post -->
                                    <div class="nk-blog-post">
                                        <a asp-controller="Item" asp-action="Details" asp-route-id="@item.Id" class="nk-post-img">
                                            <img src="~/Images/@Url.Content(item.Image)" alt="">
                                        </a>
                                        <div class="nk-gap"></div>
                                        <h2 class="nk-post-title h4"><a asp-area="" asp-controller="Item" asp-action="Details" asp-route-id="@item.Id">@item.NameItem</a></h2>
                                        <div class="nk-post-by">
                                            <img src="~/assets/images/avatar-1.jpg" alt="" class="rounded-circle" width="35"> by <a href="#">@item.HoTen</a> @item.DayCreate
                                        </div>
                                        <div class="nk-gap"></div>
                                    </div>
                                    <!-- END: Post -->
                                </div>
                            }
                        }



                    </div>

                    <!-- START: Pagination -->
                    <div class="nk-pagination nk-pagination-center">

                        @if (PageCurrent > 1)
                        {
                            string url = $"/ListItem.html";
                            <a href="@url?page=@(PageCurrent - 1)" class="nk-pagination-prev">
                                <span class="ion-ios-arrow-back"></span>
                            </a>
                        }
                        else
                        {
                            string url1 = $"/ListItem.html";
                            <a href="@url1" class="nk-pagination-prev">
                                <span class="ion-ios-arrow-back"></span>
                            </a>
                        }

                        @{
                            string url2 = $"/ListItem.html";
                            @if (@PageCurrent < ViewBag.maxPage)
                            {

                                <nav>
                                    <a class="nk-pagination-current" href="@url2?page=@PageCurrent">@PageCurrent</a>
                                    <a href="@url2?page=@PageNext">@PageNext</a>
                                </nav>
                                <a class="nk-pagination-next" href="@url2?page=@PageNext">
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            }
                            else
                            {
                                <nav>
                                    <a class="nk-pagination-current" href="@url2?page=@PageCurrent">@PageCurrent</a>
                                    <a hidden href="@url2?page=@PageNext">@PageNext</a>
                                </nav>
                                <a class="nk-pagination-next">
                                    <span disabled class="ion-ios-arrow-forward"></span>
                                </a>
                            }
                        }
                    </div>
                    <!-- END: Pagination -->
                </div>
                <!-- END: Posts Grid -->

            </div>
            <div class="col-lg-4">

                <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                    <div class="nk-widget">
                        <div class="nk-widget-content">
                            <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtSearchTMK" onkeypress="return searchKeyPressTMK(event);" placeholder="Type something...">
                                    <a class="nk-btn nk-btn-color-main-1" id="btnSearchItemMK" onclick="changeHrefTMK()"><span class="ion-search"></span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Latest</span> Video</span></h4>
                        <div class="nk-widget-content">
                            <div class="nk-plain-video" data-video="https://www.youtube.com/watch?v=vXy8UBazlO8"></div>
                        </div>
                    </div>
                    <div class="nk-widget nk-widget-highlighted">
                        <h4 class="nk-widget-title"><span><span class="text-main-1">Game</span> Menu</span></h4>
                        <div class="nk-widget-content">
                            <p>
                                <ul class="nk-widget-categories">
                                    @if (Model.productdev != null && Model.productdev.Count() > 0)
                                    {
                                        foreach (var item in Model.productdev.Take(5))
                                        {
                                            string url = $"/ListItem/Product/{item.Name}.html";
                                            <li><a href="@url">@item.Name</a></li>
                                        }
                                        <span id="dots"></span>
                                        <div style="border-top: 1px solid #293139;"></div>
                                        <span id="more">
                                            @foreach (var item in Model.productdev.Skip(5))
                                            {
                                                string url = $"/ListItem/Product/{item.Name}.html";
                                            <li><a href="@url">@item.Name</a></li>

                                        }
                                            </span>
                                        }

                                </ul>
                            </p>
                            <div style="margin-top: 1.5rem"></div>
                            <button onclick="myFunction()" id="myBtnI">Read more</button>
                        </div>
                    </div>
                </aside>
                <!-- END: Sidebar -->
            </div>
        </div>
    </div>

    <div class="nk-gap-2"></div>


</div>




<!-- START: Page Background -->

<img class="nk-page-background-top" src="~/assets/images/bg-top-2.png" alt="">
<img class="nk-page-background-bottom" src="~/assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->
@section Styles{
    <style>
        #more {
            display: none;
        }

        p {
            margin-bottom: 0;
        }

        .divreadmore {
            margin-top: 5px;
        }
    </style>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $(".sell-item").click(function () {
                    var itemid = $(this).attr("data-mahh");
                    $.ajax({
                        url: '/api/item/getid',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            Id: itemid,
                        },
                    });
                });
            });
        });
    </script>

    <script type="text/javascript">
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtnI");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>

    <script>
        function changeHrefTMK() {
            var value = $('#txtSearchTMK').val();
            var url1;
            var all = "all";
            if (value === "") {
                url1 = '/ListItem/name=' + all + '.html';
            }
            else {
                url1 = '/ListItem/name=' + value + '.html';
            }

            location.href = url1;
        }
        function searchKeyPressTMK(e) {
            // look for window.event in case event isn't passed in
            e = e || window.event;
            if (e.keyCode == 13) {
                document.getElementById('btnSearchItemMK').click();
                return false;
            }
            return true;
        }
    </script>
}