@model Khoaluan.Models.Blog

@{
    ViewData["Title"] = "BlogArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Blog> Baivietlienquan = ViewBag.Baivietlienquan; }

@{
}
<div style="background-color:beige" class="nk-main">
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul style="color:black" class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="#">Blog</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>@Model.Title</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-12">
                <!-- START: Post -->
                <div class="nk-blog-post nk-blog-post-single">
                    <!-- START: Post Text -->
                    <div class="nk-post-text mt-0">
                        <div class="nk-post-img">
                            <img src="~/Images/news/@Url.Content(Model.Image)" alt="@Model.Title">
                        </div>
                        <div class="nk-gap-1"></div>
                        <h1 style="color:black" class="nk-post-title h4">@Model.Title</h1>
                        <div class="nk-post-by">
                            <img src="~/assets/images/avatar-2.jpg" alt="Witch Murder" class="rounded-circle" width="35"> by <a href="#">@Model.Name</a> @Model.CreatedDate


                            <div class="nk-post-categories">

                                <span class="bg-main-1">Action</span>

                                <span class="bg-main-2">Adventure</span>

                            </div>

                        </div>
                        <div class="nk-gap"></div>
                        <p>@Html.Raw(Model.Contents)</p>
                        <div class="nk-gap"></div>
                        <div class="nk-post-share">
                            <span class="h5">Share Article:</span>

                            <ul class="nk-social-links-2">
                                <li><span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span></li>
                                <li><span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus"><span class="fab fa-google-plus"></span></span></li>
                                <li><span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span></li>
                                <li><span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END: Post Text -->
                    <!-- START: Similar Articles -->
                    <div class="nk-gap-2"></div>
                    <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Similar</span> Articles</span></h3>
                    <div class="nk-gap"></div>
                    <div class="row">
                        @if (Baivietlienquan != null && Baivietlienquan.Count() > 0)
                        {
                            foreach (var item in Baivietlienquan)
                            {
                                string _url = $"/tin-tuc/{item.Alias}-{item.Id}.html";
                                <div class="col-md-4">
                                    <!-- START: Post -->
                                    <div class="nk-blog-post">
                                        <a href="@_url" class="nk-post-img">
                                            <img src="~/Images/news/@Url.Content(Model.Image)" alt="@item.Title">
                                            <span class="nk-post-comments-count">7</span>

                                            <span class="nk-post-categories">
                                                <span class="bg-main-2">Adventure</span>
                                            </span>

                                        </a>
                                        <div class="nk-gap"></div>
                                        <h2 class="nk-post-title h4" style="color:black"><a href="@_url">@item.Title</a></h2>
                                    </div>
                                    <!-- END: Post -->
                                </div>
                            }
                        }
                    </div>
                    <!-- END: Similar Articles -->
                </div>
                <!-- END: Post -->
            </div>
        </div>
    </div>
</div>
