@using Khoaluan.OtpModels
@model List<Khoaluan.OtpModels.Productdetail1>
@if (Model != null)
{
    <div class="row vertical-gap">
        @foreach (var item in Model)
        {
            string url = $"/Product/HomePage/{item.Id}.html";
            string gia = "free";
            string icon = "$";
            <div class="col-lg-6">
                <div class="nk-product-cat-2">
                    <a class="nk-product-image" href="@url">
                        <img src="~/Images/@item.Image" alt="">
                    </a>
                    <div class="nk-product-cont">
                        <h3 class="nk-product-title h5"><a href="@url">@item.ProductName</a></h3>
                        <div class="nk-gap-1"></div>
                        <div class="nk-product-rating" data-rating="4">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i>
                        </div>
                        <div class="nk-gap-1"></div>
                        <div class="line-clamp">
                            @Html.Raw(@item.Description)

                        </div>
                        <div class="nk-gap-2"></div>
                        <div class="nk-product-price">
                            <div class="Price-Buy">
                                @if (item.Price == 0)
                                {
                                    @gia;
                                }
                                else if (DateTime.Now < item.StartDate || DateTime.Now > item.EndDate)
                                {
                                    @icon @item.Price
                                }
                                else
                                {
                                    <p>
                                        @{
                                            decimal discount = @item.Price - (@item.Price * @item.Discount / 100);
                                        }
                                        @icon @discount <span class="badge bg-danger">-@item.Discount%</span>
                                        @if (item.Discount > 0)
                                        {
                                            <h5 style="text-decoration:line-through">@icon @item.Price</h5>
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                        <div class="nk-gap-1"></div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- END: Products -->
    <!-- START: Pagination -->
    <div class="nk-gap-3"></div>
}