@using PagedList.Core.Mvc
@model List<Khoaluan.Models.Product>
@{
    ViewData["Title"] = "ProductsByName";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}

<div class="row vertical-gap">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="nk-gallery-item-group">
                <a href="#" class="nk-gallery-item">
                    <div class="nk-gallery-item-overlay"><span class="ion-eye"></span></div>
                    <img src="~/Images/@item.Image" alt="">
                </a>
                <div class="nk-gallery-item-description">
                    <h4 class="nk-gallery-item-description-title h5">@item.Name</h4>
                    <div class="nk-gallery-item-description-info">
                        <span>@item.Price</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="nk-gap-3"></div>
<div class="nk-pagination nk-pagination-center">

    @if (PageCurrent > 1)
    {
        string url = $"/SearchPro/ProductsByName/name={@ViewBag.nameSearch}.html";
        <a href="@url?page=@(PageCurrent - 1)" class="nk-pagination-prev">
            <span class="ion-ios-arrow-back"></span>
        </a>
    }
    else
    {
        string url1 = $"/SearchPro/ProductsByName/name={@ViewBag.nameSearch}.html";
        <a href="@url1" class="nk-pagination-prev">
            <span class="ion-ios-arrow-back"></span>
        </a>
    }

    @{
        string url2 = $"/SearchPro/ProductsByName/name={@ViewBag.nameSearch}.html";
        @if (@PageCurrent < ViewBag.maxPage)
        {

            <nav>
                <a class="nk-pagination-current" href="@url2?page=@PageCurrent">@PageCurrent</a>
                <a href="@url2?page=@PageNext">@PageNext</a>
            </nav>
            <a class="nk-pagination-next" href="@url2?page=@PageNext">
                <span class="ion-ios-arrow-forward"></span>
            </a>
        }
        else
        {
            <nav>
                <a class="nk-pagination-current" href="@url2?page=@PageCurrent">@PageCurrent</a>
                <a hidden href="@url2?page=@PageNext">@PageNext</a>
            </nav>
            <a class="nk-pagination-next">
                <span disabled class="ion-ios-arrow-forward"></span>
            </a>
        }
    }
</div>
