@using PagedList.Core.Mvc
@model List<Khoaluan.Models.Product>
@{
    ViewData["Title"] = "ProductsByName";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}
<div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a href="store.html">Store</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Action Games</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">
        <!-- START: Categories -->
        <div class="row vertical-gap">
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="assets/images/icon-mouse.png" alt="">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="#">PC</a></h3>
                        <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="assets/images/icon-gamepad.png" alt="">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="#">PS4</a></h3>
                        <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="nk-feature-1">
                    <div class="nk-feature-icon">
                        <img src="assets/images/icon-gamepad-2.png" alt="">
                    </div>
                    <div class="nk-feature-cont">
                        <h3 class="nk-feature-title"><a href="#">Xbox</a></h3>
                        <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Categories -->
        <!-- START: Products Filter -->
        <div class="nk-gap-2"></div>
        <div class="row vertical-gap">
            <div class="col-lg-8">
                <div class="row vertical-gap">
                    <div class="col-md-4">
                        <select class="form-control">
                            <option value="" disabled selected>Select Platform</option>
                            <option value="ps4">PS4</option>
                            <option value="xbox">Xbox 1</option>
                            <option value="pc">PC</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <div class="nk-input-slider-inline">
                            <div class="nk-input-slider">
                                <div class="nk-input-slider-content text-white">
                                    PRICE:
                                    <strong class="text-main-1">
                                        € <span id="value0" class="nk-input-slider-value-0"></span>
                                    </strong>
                                    -
                                    <strong class="text-main-1">
                                        € <span id="value1" class="nk-input-slider-value-1"></span>
                                    </strong>
                                </div>
                                <div class="nk-input-slider-input">
                                    <input type="text" name="price-filter" data-slider-min="0"
                                           data-slider-max="1800" data-slider-step="1" data-slider-value="[200, 1200]"
                                           data-slider-tooltip="hide">
                                </div>
                            </div>
                            <div>
                                <input type="button" id="keywords" class="nk-btn nk-btn-rounded nk-btn-color-white" value="Apply" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <form action="#" class="nk-form" novalidate="novalidate">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Type something...">
                        <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- END: Products Filter -->

        <div class="nk-gap-2"></div>
        <div id="records_table">
            <!-- START: Products -->
            <div class="row vertical-gap">
                @foreach (var item in Model)
                {
                    string url = $"/Product/HomePage/{item.Id}.html";
                    string gia = "free";
                    string icon = "€";
                    <div class="col-lg-6">
                        <div class="nk-product-cat-2">
                            <a class="nk-product-image" href="@url">
                                <img src="~/Images/@item.Image" alt="">
                            </a>
                            <div class="nk-product-cont">
                                <h3 class="nk-product-title h5"><a href="@url">@item.Name</a></h3>
                                <div class="nk-gap-1"></div>
                                <div class="nk-product-rating" data-rating="4">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i>
                                </div>
                                <div class="nk-gap-1"></div>
                                <div class="line-clamp">
                                    @item.Description
                                </div>
                                <div class="nk-gap-2"></div>
                                <div class="nk-product-price">
                                    @if (item.Price == 0)
                                    {
                                        @gia;
                                    }
                                    else
                                    {
                                        @icon @item.Price;
                                    }
                                </div>
                                <div class="nk-gap-1"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- END: Products -->
            <!-- START: Pagination -->
            <div class="nk-gap-3"></div>
            <div class="nk-pagination nk-pagination-center">

                @if (PageCurrent > 1)
                {
                    string url = $"/SearchPro/ProductsByName/name={@ViewBag.nameSearch}.html";
                    <a href="@url?page=@(PageCurrent - 1)" class="nk-pagination-prev">
                        <span class="ion-ios-arrow-back"></span>
                    </a>
                }
                else
                {
                    string url1 = $"/SearchPro/ProductsByName/name={@ViewBag.nameSearch}.html";
                    <a href="@url1" class="nk-pagination-prev">
                        <span class="ion-ios-arrow-back"></span>
                    </a>
                }

                @{
                    string url2 = $"/SearchPro/ProductsByName/name={@ViewBag.nameSearch}.html";
                    @if (@PageCurrent < ViewBag.maxPage)
                    {

                        <nav>
                            <a class="nk-pagination-current" href="@url2?page=@PageCurrent">@PageCurrent</a>
                            <a href="@url2?page=@PageNext">@PageNext</a>
                        </nav>
                        <a class="nk-pagination-next" href="@url2?page=@PageNext">
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    }
                    else
                    {
                        <nav>
                            <a class="nk-pagination-current" href="@url2?page=@PageCurrent">@PageCurrent</a>
                            <a hidden href="@url2?page=@PageNext">@PageNext</a>
                        </nav>
                        <a class="nk-pagination-next">
                            <span disabled class="ion-ios-arrow-forward"></span>
                        </a>
                    }
                }
            </div>
            <!-- END: Pagination -->
        </div>
    </div>

        <div class="nk-gap-2"></div>
    </div>
@section Styles{
    <style>
        .line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#keywords").click(function () {
                var strkeyword = $('#keyword').val();
                var value0 = document.getElementById("value0").innerText;
                var value1 = document.getElementById("value1").innerText;
                //alert(value0);
                //alert(value1);
                $.ajax({
                    url: '/SearchPro/FindProducts/',
                    datatype: "json",
                    type: "POST",
                    data: {
                        firstprice: value0,
                        secondprice: value1
                    },
                    async: false,
                    change: false,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}