@model Khoaluan.OtpModels.MarketOrder

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Tournaments</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-12">

                <!-- START: Now Playing -->
                <div class="nk-gap"></div>
                <div class="nk-accordion" id="accordion-1" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1"
                               href="#accordion-1-1" aria-expanded="true" aria-controls="accordion-1-1">
                                History order <span class="panel-heading-arrow fa fa-angle-down"></span>
                            </a>
                        </div>
                        <div id="accordion-1-1" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordion-1-1-heading">
                            @if (Model.order != null && Model.order.Count() > 0)
                            {
                                <div class="nk-gap"></div>
                                <table class="nk-table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <th>DatePurchase</th>
                                            <th class="text-center">TotalPrice</th>
                                            <th></th>
                                        </tr>
                                        @foreach (var item in Model.order)
                                        {
                                            <tr>
                                                <td href="javascript:void(0)">#@item.Id</td>
                                                <td>@item.DatePurchase</td>
                                                <td class="text-center"><strong>@item.TotalPrice</strong></td>
                                                <td>
                                                    <a href="javascript:void(0)" class="xemdonhang" data-madonhang="@item.Id">See order</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <br />
                                <div id="records_tabless">

                                </div>
                            }
                            else
                            {
                                <p>Empty!</p>
                            }
                        </div>
                    </div>
                </div>
                <!-- END: Now Playing -->

            </div>
            <div class="col-lg-12">

                <!-- START: Now Playing -->
                <div class="nk-gap"></div>
                <div class="nk-accordion" id="accordion-2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1"
                               href="#accordion-1-2" aria-expanded="true" aria-controls="accordion-1-2">
                                Markey sell <span class="panel-heading-arrow fa fa-angle-down"></span>
                            </a>
                        </div>
                        <div id="accordion-1-2" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordion-1-1-heading">
                            @if (Model.market != null && Model.market.Count() > 0)
                            {
                                <div class="nk-gap"></div>
                                <table class="nk-table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <th>DatePurchase</th>
                                            <th class="text-center">TotalPrice</th>
                                            <th>Status</th>
                                        </tr>
                                        @foreach (var item in Model.market)
                                        {
                                            <tr>
                                                <td href="javascript:void(0)">#@item.Id</td>
                                                <td>@item.DayCreate</td>
                                                <td class="text-center"><strong>@item.PricePerItem</strong></td>
                                                <td>
                                                    @if (item.Status == 3)
                                                    {
                                                        <div>soldout</div>
                                                    }
                                                    else
                                                    {
                                                        <div>selling</div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>Empty!</p>
                            }
                        </div>
                    </div>
                </div>
                <!-- END: Now Playing -->

            </div>
            <div class="col-lg-12">

                <!-- START: Now Playing -->
                <div class="nk-gap"></div>
                <div class="nk-accordion" id="accordion-3" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-1"
                               href="#accordion-1-3" aria-expanded="true" aria-controls="accordion-1-3">
                                Market buy <span class="panel-heading-arrow fa fa-angle-down"></span>
                            </a>
                        </div>
                        <div id="accordion-1-3" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordion-1-1-heading">
                            @if (Model.marketbuy != null && Model.marketbuy.Count() > 0)
                            {
                                <div class="nk-gap"></div>
                                <table class="nk-table">
                                    <tbody>
                                        <tr>
                                            <th>Id</th>
                                            <th>DatePurchase</th>
                                            <th>Quantity</th>
                                            <th class="text-center">TotalPrice</th>
                                        </tr>
                                        @foreach (var item in Model.marketbuy)
                                        {
                                            <tr>
                                                <td href="javascript:void(0)">#@item.Id</td>
                                                <td>@item.DateTransaction</td>
                                                <td>@item.Quantity</td>
                                                <td class="text-center"><strong>@item.TotalPrice</strong></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>Empty!</p>
                            }
                        </div>
                    </div>
                </div>
                <!-- END: Now Playing -->

            </div>

            <div class="col-lg-12">

                <!-- START: Now Playing -->
                <div class="nk-gap"></div>
                <div class="nk-accordion" id="accordion-4" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="accordion-1-1-heading">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion-4"
                               href="#accordion-1-4" aria-expanded="true" aria-controls="accordion-1-4">
                                Add Fund History <span class="panel-heading-arrow fa fa-angle-down"></span>
                            </a>
                        </div>
                        <div id="accordion-1-4" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="accordion-1-1-heading">
                            @if (Model.addFundTransaction != null && Model.addFundTransaction.Count() > 0)
                            {
                                <div class="nk-gap"></div>
                                <table class="nk-table">
                                    <tbody>
                                        <tr>
                                            <th>Transaction Id</th>
                                            <th>Order Id</th>
                                            <th>Price</th>
                                            <th>PaymentMethod</th>
                                            <th>CreateOn</th>
                                        </tr>
                                        @foreach (var item in Model.addFundTransaction)
                                        {
                                            <tr>
                                                <td href="javascript:void(0)">#@item.TransactionId</td>
                                                <td>@item.OrderId</td>
                                                <td>@item.FundId</td>
                                                <td>@item.PaymentMethod</td>
                                                <td>@item.CreateOn</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>Empty!</p>
                            }
                        </div>
                    </div>
                </div>
                <!-- END: Now Playing -->

            </div>
        </div>
    </div>

    <div class="nk-gap-2"></div>

</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $(".xemdonhang").click(function () {
                var madonhang = $(this).attr("data-madonhang")
                $.ajax({
                    url: '/OrderHistory/Details',
                    datatype: "json",
                    type: "POST",
                    data: { id: madonhang },
                    async: true,
                    success: function (results) {
                        $("#records_tabless").html("");
                        $("#records_tabless").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}