@model Khoaluan.Models.Product

@{ ViewData["Title"] = "Thông tin sản phẩm" + Model.Name;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Dev" asp-action="Index" class="breadcrumb-item">List Product</a>
            <span class="breadcrumb-item active">Info Product : @Model.Name</span>
        </nav>
    </div>
</div>

<div class="card-body">
    <h4 class="card-title">Inf Product : @Model.Name</h4>
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td class="text-dark font-weight-semibold">@Model.Id</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>@Model.Price</td>
                </tr>
                @*<tr>
                    <td>Trạng thái:</td>
                    <td>
                        @if (Model.Active)
                        {
            <div class="switch m-r-10">
                <input type="checkbox" id="switch-1" checked="" disabled />
                <label for="switch-1"></label>
            </div> }
                        else
                        {
            <div class="switch m-r-10">
                <input type="checkbox" id="switch-1" disabled />
                <label for="switch-1"></label>
            </div>}
                    </td>
                </tr>*@
            @*<tr>
                <td>Danh mục:</td>
                <td>@Model.ProductCategories.</td>
            </tr>*@
            <tr>
                <td>CreateDay:</td>
                <td>@Model.ReleaseDate</td>
            </tr>
            <tr>
                <td>Overview:</td>
                <td>@Model.Overview</td>
            </tr>

            <tr>
                <td>Image:</td>
                <td>
                    <img width="200" height="200" src="~/Images/@Url.Content(Model.Image)" alt="@Model.Name" />
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Delete:</td>
                <td>
                    <form asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@Model.Id">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> 
                    </form>
                </td>
            </tr>

        </tbody>
    </table>
</div>
</div>



